@use "../base";
@use "../abstracts";
@use "../layout/header";
@use "../components/total";
@use "../components/hero";
@use "../components/filter";
@use "../components/item";

// category
.category {
    padding-top: 40px;
    background-color: #f6f6f6;
    &__heading {
        color: abstracts.$textColor;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
    }

    &-list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &-item {
        padding: 20px;

        display: flex;
        align-items: center;
        column-gap: 20px;

        width: 413px;
        height: 156px;

        background: #eee;

        border-radius: 16px;

        &__img-block {
            width: 116px;
            height: 116px;
            border-radius: 16px;
            background-color: #fff;
        }
    }

    &-info {
        &__price {
            color: #000;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.45;
        }

        &__desc {
            color: abstracts.$textColor;

            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .category {
        padding-top: 30px;

        &__heading {
            font-size: 2.2rem;
            line-height: 1.45;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-item {
            column-gap: 18px;

            width: 100%;
            height: 124px;
            border-radius: 10px;
            background: #fff;

            &__img-block {
                width: 88px;
                height: 88px;
            }

            &__img {
                object-fit: cover;
                width: 88px;
                height: 88px;
            }
        }

        &-info {
            &__price {
                color: #000;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.45;
            }

            &__desc {
                color: abstracts.$textColor;

                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
    }
}
