@use "../base";
@use "../abstracts";
@use "../layout/header";
@use "../components/account-info";

.profile {
    &-right {
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        padding: 30px;

        &__heading {
            color: abstracts.$textColor;

            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.41;
        }

        &__desc {
            color: abstracts.$textColor;

            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.46;
        }

        &__card-group {
            margin-top: 16px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
        }

        &__card-wrap {
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 14px;

            height: 99%;

            border-radius: 10px;
            border: 1px dashed #d2d1d6;
        }

        &__card {
            width: calc(100% + 2px);
        }

        &__add-card {
            width: 24px;
            height: 24px;
            border-radius: 6px;
            border: 2px solid #1a162e;

            &::after {
                content: "+";
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                color: #1a162e;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.42;
            }
        }

        &__add-desc {
            color: #d2d1d6;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42;
        }

        &__account {
            margin-top: 30px;

            &-info {
                margin-top: 16px;

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-flow: row;
                gap: 20px;
            }

            &-item {
                padding: 10px;
                border-radius: 10px;
                background: #f6f6f6;

                display: flex;
                align-items: center;
                column-gap: 10px;

                &-title {
                    color: abstracts.$textColor;

                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.46;
                }

                &-desc {
                    margin-top: 6px;
                    color: abstracts.$textColor;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.42;
                }

                &:nth-child(1)::before {
                    content: url(../../assets/images/Message.svg);
                    width: 54px;
                    height: 54px;
                    border-radius: 8px;
                    background: #fff;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:nth-child(2)::before {
                    content: url(../../assets/images/Calling.svg);
                    width: 54px;
                    height: 54px;
                    border-radius: 8px;
                    background: #fff;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:nth-child(3)::before {
                    content: url(../../assets/images/Location.svg);
                    width: 54px;
                    height: 54px;
                    border-radius: 8px;
                    background: #fff;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__list {
            margin-top: 30px;

            &-item {
                margin-top: 14px;

                display: flex;
                column-gap: 20px;
                padding-bottom: 10px;

                &:nth-child(3) {
                    border-bottom: 1px solid #d2d1d6;
                }
            }

            &-item-heading {
                color: abstracts.$textColor;

                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.46;
            }

            &-item-price {
                margin-top: 10px;
                color: abstracts.$textColor;

                display: flex;
                align-items: center;
                column-gap: 20px;

                font-size: 2.2rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.45;

                &::after {
                    cursor: pointer;

                    content: "Add to cart";
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 126px;
                    height: 42px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background: #ffb700;

                    color: abstracts.$textColor;

                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.46;
                }
            }
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .profile {
        &-right {
            padding: 16px;

            &__card-group {
                margin-top: 16px;

                display: flex;
                flex-direction: column;
                row-gap: 16px;
            }

            &__card-wrap {
                width: 100%;
                height: auto;

                min-height: 170px;
            }

            &__card {
                width: calc(100% + 2px);
                margin-top: -2px;
                margin-bottom: -2px;
            }

            &__add-card {
                width: 24px;
                height: 24px;
                border-radius: 6px;
                border: 2px solid #1a162e;

                &::after {
                    margin-top: 0px;
                }
            }

            &__account {
                &-info {
                    margin-top: 20px;

                    grid-template-columns: 1fr;
                }
            }

            &__list {
                &-item {
                    padding-bottom: 16px;

                    &-img {
                        width: 110px;
                        height: 78px;
                    }
                }

                &-item-price {
                    align-items: flex-start;
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
}
