/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body,
textarea,
input,
select,
button {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  width: 1340px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.header__navbar-list-item:hover .header-detail {
  visibility: visible;
  opacity: 1;
}

.header__navbar-list-item:hover .header-detail-wrap--actived {
  visibility: visible;
  opacity: 1;
}

.header-detail {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 30px;
  width: 1240px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.header-detail__triangle {
  position: absolute;
  top: -6px;
  left: 30%;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 4px;
  rotate: 45deg;
}
.header-detail__item,
.header-detail .header-detail__item-item {
  padding: 7px;
  display: inline-block;
  color: #1a162e;
  font-size: 1.4rem;
  line-height: 1.42;
}
.header-detail__item:hover, .header-detail__item--actived,
.header-detail .header-detail__item-item:hover,
.header-detail .header-detail__item-item--actived {
  color: #0071dc;
  text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
}
.header-detail__list {
  position: relative;
  margin-left: 50px;
}
.header-detail__list::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: inline-block;
  width: 1px;
  height: 522px;
  background-color: #d2d1d6;
}
.header-detail__list:nth-child(1) .header-detail__heading {
  position: relative;
  margin-top: 0;
}
.header-detail__list:nth-child(1) .header-detail__heading::before {
  content: url(../../assets/images/app.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list:nth-child(1) .header-detail__heading::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 183, 0, 0.5);
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(1) {
  position: relative;
  margin-top: 0;
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(1):before {
  content: url(../../assets/images/Game.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(118, 68, 225, 0.7);
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(9) {
  position: relative;
  margin-top: 26px;
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(9):before {
  content: url(../../assets/images/Game.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list-item:nth-child(1) .header-detail__item-heading:nth-child(9)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/Star1.svg);
}
.header-detail__list-item:nth-child(2) .header-detail__item-heading {
  position: relative;
  margin-top: 0;
}
.header-detail__list-item:nth-child(2) .header-detail__item-heading::before {
  content: url(../../assets/images/computer.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list-item:nth-child(2) .header-detail__item-heading::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/Polygon21.svg);
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(1) {
  position: relative;
  margin-top: 0;
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(1):before {
  content: url(../../assets/images/saving.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/saving-clip.svg);
  width: 30px;
  height: 30px;
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(5) {
  position: relative;
  margin-top: 26px;
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(5):before {
  content: url(../../assets/images/smartphone1.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(5)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/Polygon2.svg);
  width: 30px;
  height: 30px;
}
.header-detail-wrap {
  padding: 30px 0;
  position: absolute;
  right: -400%;
  top: -30px;
  width: 360%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.header-detail__heading,
.header .header-detail__item-heading {
  color: #1a162e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 18px;
}

.header-detail__list li:hover .header-detail-wrap {
  visibility: visible;
  opacity: 1;
}

/*  pc */
@media screen and (min-width: 992px) {
  .header-detail-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-detail-wrap::before {
    position: absolute;
    left: -100px;
    top: 30px;
    content: "";
    width: 100px;
    height: 510px;
    display: inline-block;
    background-color: transparent;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header__navbar-list-item:hover .header-detail {
    display: block;
  }
  .header-detail {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    width: 100%;
    padding: 0px;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    display: none;
  }
  .header-detail__item,
  .header-detail .header-detail__item-item {
    padding: 7px;
    display: inline-block;
    color: #1a162e;
    font-size: 1.4rem;
    line-height: 1.42;
  }
  .header-detail__item:hover,
  .header-detail .header-detail__item-item:hover {
    color: #0071dc;
    text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
  }
  .header-detail__item--actived,
  .header-detail .header-detail__item-item--actived {
    color: #0071dc;
    text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
  }
  .header-detail__list {
    position: relative;
    margin-left: 0px;
  }
  .header-detail__list li:hover .header-detail-wrap {
    visibility: visible;
    opacity: 1;
  }
  .header-detail__list::after {
    display: none;
  }
  .header-detail__list-item:nth-child(2) .header-detail__item-heading {
    position: relative;
    margin-top: 36px;
  }
  .header-detail__list-item:nth-child(3) .header-detail__item-heading:nth-child(1) {
    position: relative;
    margin-top: 36px;
  }
  .header-detail-wrap {
    padding: 7px 0;
    margin-left: 50px;
    position: relative;
    right: 0;
    top: 0px;
    width: calc(100% - 50px);
    visibility: visible;
    display: none;
  }
  .header-detail__item-heading {
    color: #1a162e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 36px 0 26px 0;
  }
  .header-detail__list li:hover .header-detail-wrap {
    display: block;
  }
}
.header__navbar-list-item:hover .header-grocery {
  visibility: visible;
  opacity: 1;
}

.header-grocery {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 30px;
  width: 1240px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}
.header-grocery__heading {
  color: #1a162e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 18px;
}
.header-grocery__item {
  padding: 7px;
  display: inline-block;
  color: #1a162e;
  font-size: 1.4rem;
  line-height: 1.42;
}
.header-grocery__item:hover {
  color: #0071dc;
  text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
}
.header-grocery__triangle {
  position: absolute;
  top: -6px;
  left: 43%;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 4px;
  rotate: 45deg;
}
.header-grocery__list {
  position: relative;
  margin-left: 50px;
}
.header-grocery__list:nth-child(1) .header-grocery__heading {
  position: relative;
  margin-top: 0;
}
.header-grocery__list:nth-child(1) .header-grocery__heading:nth-child(1)::before {
  content: url(../../assets/images/grocery1.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(1) .header-grocery__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(118, 68, 225, 0.7);
}
.header-grocery__list:nth-child(1) .header-grocery__heading:nth-child(5) {
  position: relative;
  margin-top: 26px;
}
.header-grocery__list:nth-child(1) .header-grocery__heading:nth-child(5)::before {
  content: url(../../assets/images/grocery2.1.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(1) .header-grocery__heading:nth-child(5)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery2.svg);
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(1)::before {
  content: url(../../assets/images/grocery3.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery3.1.svg);
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(10) {
  position: relative;
  margin-top: 26px;
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(10)::before {
  content: url(../../assets/images/grocery4.1.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(10)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery4.svg);
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(1)::before {
  content: url(../../assets/images/grocery5.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery5.2.svg);
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(7) {
  position: relative;
  margin-top: 26px;
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(7)::before {
  content: url(../../assets/images/grocery6.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(7)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery6.2.svg);
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(1)::before {
  content: url(../../assets/images/grocery7.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery7.1.svg);
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(6) {
  position: relative;
  margin-top: 26px;
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(6)::before {
  content: url(../../assets/images/grocery8.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(6)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/grocery8.1.svg);
}

/*  pc */
@media screen and (min-width: 992px) {
  .header-grocery {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header-grocery {
    position: relative;
    top: 0px;
    left: 0;
    grid-template-columns: 1fr;
    padding: 0px;
    width: 100%;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 0 0;
    display: none;
  }
  .header-grocery__list {
    position: relative;
    margin-left: 50px;
  }
  .header-grocery__list:nth-child(2) .header-grocery__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header-grocery__list:nth-child(3) .header-grocery__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header-grocery__list:nth-child(4) .header-grocery__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header__navbar-list-item:hover .header-grocery {
    display: block;
  }
  .header-grocery__list:nth-child(1) .header-grocery__heading {
    margin-top: 26px;
  }
}
.header__navbar-list-item:hover .header-beauty {
  visibility: visible;
  opacity: 1;
}

.header-beauty {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 30px;
  width: 1240px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}
.header-beauty__heading {
  color: #1a162e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 18px;
}
.header-beauty__item {
  padding: 7px;
  display: inline-block;
  color: #1a162e;
  font-size: 1.4rem;
  line-height: 1.42;
}
.header-beauty__item:hover {
  color: #0071dc;
  text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
}
.header-beauty__triangle {
  position: absolute;
  top: -6px;
  left: 53%;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 4px;
  rotate: 45deg;
}
.header-beauty__list {
  position: relative;
  margin-left: 50px;
}
.header-beauty__list:nth-child(1) .header-beauty__heading {
  position: relative;
  margin-top: 0;
}
.header-beauty__list:nth-child(1) .header-beauty__heading:nth-child(1)::before {
  content: url(../../assets/images/Buy.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(1) .header-beauty__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(118, 68, 225, 0.7);
}
.header-beauty__list:nth-child(1) .header-beauty__heading:nth-child(9) {
  position: relative;
  margin-top: 26px;
}
.header-beauty__list:nth-child(1) .header-beauty__heading:nth-child(9)::before {
  content: url(../../assets/images/beauty2.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(1) .header-beauty__heading:nth-child(9)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/beauty2.1.svg);
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(1)::before {
  content: url(../../assets/images/beauty3.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/beauty3.1.svg);
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(10) {
  position: relative;
  margin-top: 26px;
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(10)::before {
  content: url(../../assets/images/beauty4.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(10)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/beauty4.1.svg);
}
.header-beauty__list:nth-child(3) .header-beauty__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-beauty__list:nth-child(3) .header-beauty__heading:nth-child(1)::before {
  content: url(../../assets/images/beauty5.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(3) .header-beauty__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/beauty5.1.svg);
}
.header-beauty__list:nth-child(4) .header-beauty__heading:nth-child(1) {
  position: relative;
  margin-top: 0px;
}
.header-beauty__list:nth-child(4) .header-beauty__heading:nth-child(1)::before {
  content: url(../../assets/images/beauty6.svg);
  position: absolute;
  left: -38px;
  bottom: -16px;
  z-index: 1;
}
.header-beauty__list:nth-child(4) .header-beauty__heading:nth-child(1)::after {
  position: absolute;
  left: -50px;
  top: 0;
  content: url(../../assets/images/beauty6.1.svg);
}

/*  pc */
@media screen and (min-width: 992px) {
  .header-beauty {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header-beauty {
    position: relative;
    top: 0px;
    left: 0;
    grid-template-columns: 1fr;
    padding: 0px;
    width: 100%;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 0 0;
    display: none;
  }
  .header-beauty__list {
    position: relative;
    margin-left: 50px;
  }
  .header-beauty__list:nth-child(2) .header-beauty__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header-beauty__list:nth-child(3) .header-beauty__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header-beauty__list:nth-child(4) .header-beauty__heading:nth-child(1) {
    margin-top: 30px;
  }
  .header__navbar-list-item:hover .header-beauty {
    display: block;
  }
  .header-beauty__list:nth-child(1) .header-beauty__heading {
    margin-top: 26px;
  }
}
.header {
  background-color: #eee;
  padding: 30px 0;
}
.header-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 144px;
}
.header__navbar-list {
  display: flex;
  column-gap: 40px;
  display: flex;
  align-items: center;
}
.header__navbar-list-item:nth-child(1) .header__navbar-item::before {
  position: absolute;
  bottom: -60px;
  left: 0;
  content: "";
  width: 120px;
  height: 60px;
  background-color: transparent;
  display: inline-block;
}
.header__navbar-list-item:nth-child(2) .header__navbar-item::before {
  position: absolute;
  bottom: -60px;
  left: 0;
  content: "";
  width: 90px;
  height: 60px;
  background-color: transparent;
  display: inline-block;
}
.header__navbar-list-item:nth-child(3) .header__navbar-item::before {
  position: absolute;
  bottom: -60px;
  left: 0;
  content: "";
  width: 90px;
  height: 60px;
  background-color: transparent;
  display: inline-block;
}
.header__navbar-item {
  position: relative;
  padding: 8px;
  color: #1a162e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navbar-item::after {
  margin-top: 4px;
  margin-left: 6px;
  content: url(../../assets/images/arrow-header.svg);
  display: inline-block;
}
.header-right {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.header__store {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 226px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.header__avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.header__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.header__saperate {
  width: 1px;
  height: 30px;
  background: #ededf6;
}
.header__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.header__heart::after {
  content: "03";
  color: #1a162e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}
.header__bag {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 12px 0px;
  cursor: pointer;
}
.header__bag::after {
  content: "$65.42";
  color: #1a162e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}

/*  pc */
@media screen and (min-width: 992px) {
  .header__mobile-label {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  .menu-drawer {
    display: none;
  }
  .header__mobile-logo {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header {
    background-color: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    padding: 16px 0;
    margin-bottom: 0px;
  }
  .header__search {
    display: none;
  }
  .header__store {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__navbar {
    display: none;
  }
  .header__mobile-list {
    margin-top: 20px;
  }
  .header__mobile-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 8px;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header__mobile-item::after {
    position: relative;
    content: url(../../assets/images/arrow-right.svg);
  }
  .header__mobile-item--actived::after {
    content: url(../../assets/images/arrow-header.svg);
  }
  .header__mobile-item:last-child {
    padding-bottom: 40px;
  }
  .header__mobile-store {
    margin-top: 20px;
  }
  .header__mobile-item-wrap {
    margin-top: 12px;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .header__heart-desc {
    margin-left: 16px;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header__heart-amount {
    margin-left: auto;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .menu-drawer {
    padding: 25px 20px 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 15%;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 4;
    background-color: #fff;
    transition: 0.5s ease;
    overflow: auto;
  }
  .menu-label {
    position: fixed;
    z-index: 3;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .menu-checkbox:checked ~ .menu-label {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }
}
.header__bag {
  position: relative;
}

.item {
  position: absolute;
  z-index: 3;
  padding: 30px;
  border-radius: 20px;
  top: 68px;
  right: -90px;
}
.item__heading {
  color: #1a162e;
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
}
.item__heading::after {
  content: "See All";
  color: #0071dc;
  font-weight: 400;
}
.item-group {
  margin-top: 30px;
  column-gap: 30px;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d1d6;
}
.item-group-desc {
  margin-top: 14px;
  color: #1a162e;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
}
.item-group-price {
  color: #1a162e;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.46;
}
.item-subtotal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d1d6;
}
.item__sub {
  color: #1a162e;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  display: flex;
  justify-content: space-between;
}
.item__sub:nth-child(1)::after {
  content: "$415.99";
}
.item__sub:nth-child(2)::after {
  content: "Free";
}
.item__sub:nth-child(3)::after {
  content: "$10.00";
}
.item__sub-heading {
  color: #1a162e;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  display: flex;
  line-height: 1.45;
  justify-content: space-between;
}
.item__sub-heading::after {
  content: "$425.99";
}
.item__submit {
  margin-left: auto;
  margin-top: 30px;
  border-radius: 50px;
  width: 278px;
  padding: 18px 40px;
  background: #ffb700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a162e;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
}

.total-filter__triangle {
  position: absolute;
  top: -7px;
  left: 80%;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  filter: drop-shadow(0px 40px 90px rgba(200, 200, 200, 0.4));
  width: 15px;
  height: 15px;
  border-radius: 4px;
  rotate: 45deg;
}

/*  pc */
@media screen and (min-width: 992px) {
  .item-checkbox:checked ~ .item {
    visibility: visible;
    opacity: 1;
  }
  .item {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .item {
    transition: 0.2s;
    display: none;
    position: relative;
    z-index: 3;
    padding: 20px;
    top: 6px;
    right: -2px;
  }
  .item__heading {
    font-size: 1.8rem;
  }
  .item-group {
    margin-top: 20px;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .item-subtotal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d1d6;
  }
  .item__sub {
    font-size: 1.8rem;
  }
  .item__sub-heading {
    font-size: 1.8rem;
  }
  .item__submit {
    margin-left: auto;
    margin-right: auto;
    width: 258px;
    font-size: 1.8rem;
  }
  .total-filter__triangle {
    display: none;
  }
}
.item-display:hover .item {
  display: block;
}

.profile {
  padding: 30px 0 70px;
  background-color: #f6f6f6;
}
.profile-wrap {
  display: grid;
  grid-template-columns: 1fr 2.6fr;
  column-gap: 30px;
}
.profile-left__bgr {
  padding-bottom: 30px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.profile-left__info {
  background-image: url(../../assets/images/profile-bgr.png);
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 246px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.profile-left__img {
  margin-top: 40px;
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
}
.profile-left__name {
  margin-top: 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.44;
}
.profile-left__register {
  color: #fafafd;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}
.profile-left__account {
  margin-top: 30px;
  padding-left: 30px;
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(2)::before {
  content: url(../../assets/images/Profile1.svg);
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(3) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(3)::before {
  content: url(../../assets/images/profile2.svg);
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(4) {
  margin-left: -2px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.profile-left__account:nth-child(2) .profile-left__account-desc:nth-child(4)::before {
  content: url(../../assets/images/profile3.svg);
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(2)::before {
  content: url(../../assets/images/profile4.svg);
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(3) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(3)::before {
  content: url(../../assets/images/profile5.svg);
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(4) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(3) .profile-left__account-desc:nth-child(4)::before {
  content: url(../../assets/images/profile6.svg);
}
.profile-left__account:nth-child(4) .profile-left__account-desc:nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(4) .profile-left__account-desc:nth-child(2)::before {
  content: url(../../assets/images/profile7.svg);
}
.profile-left__account:nth-child(5) .profile-left__account-desc:nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-left__account:nth-child(5) .profile-left__account-desc:nth-child(2)::before {
  content: url(../../assets/images/profile8.svg);
  margin-top: -10px;
  display: inline-block;
  margin-top: 6px;
}
.profile-left__account:nth-child(5) .profile-left__account-desc:nth-child(3) {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.profile-left__account:nth-child(5) .profile-left__account-desc:nth-child(3)::before {
  content: url(../../assets/images/profile9.svg);
  margin-left: -2px;
  display: inline-block;
  margin-top: 6px;
}
.profile-left__account-heading {
  color: #1a162e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.profile-left__account-desc {
  margin-top: 12px;
  display: block;
  color: #1a162e;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.46;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .profile {
    padding: 0;
    background-color: #fafafd;
  }
  .profile-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}
.add-card__wrap {
  padding: 16px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
.add-card__heading,
.add-card .add-card__mobile-heading {
  color: #1a162e;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.add-card__heading a,
.add-card .add-card__mobile-heading a {
  margin-top: 4px;
}
.add-card-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.add-card-item {
  display: flex;
  flex-direction: column;
}
.add-card__label {
  color: #1a162e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.44;
}
.add-card__text {
  margin-top: 20px;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d2d1d6;
  color: #1a162e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.add-card__text::placeholder {
  color: #d2d1d6;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.add-card__prefecence {
  margin-top: 30px;
  color: #1a162e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.add-card__default {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
}
.add-card__check:checked ~ .add-card__desc::before {
  background-color: #1a162e;
  border-color: #1a162e;
}
.add-card__check:checked ~ .add-card__desc::after {
  display: block;
}
.add-card__desc {
  position: relative;
  margin-left: 30px;
  color: #1a162e;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
}
.add-card__desc::before {
  position: absolute;
  left: -30px;
  top: 2px;
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #1a162e;
  border-radius: 6px;
}
.add-card__desc::after {
  position: absolute;
  top: 6px;
  left: -27px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  rotate: -45deg;
  display: none;
}
.add-card__button-group {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}
.add-card__cancel {
  cursor: pointer;
  color: #1a162e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.add-card__save {
  cursor: pointer;
  width: 123px;
  height: 44px;
  border-radius: 30px;
  background: #ffb700;
  color: #1a162e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

/*  pc */
@media screen and (min-width: 992px) {
  .add-card__mobile-heading {
    display: none;
  }
  .add-card__mobile-arrow {
    display: none;
  }
  .add-card-search-form {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .profile-left {
    display: none;
  }
  .profile-wrap {
    row-gap: 0px;
  }
  .add-card-search-form {
    position: relative;
    margin-top: 20px;
  }
  .add-card__search {
    width: 100%;
    padding: 13px 55px 13px 15px;
    border-radius: 10px;
    background: #fff;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
  }
  .add-card__search::-webkit-search-decoration, .add-card__search::-webkit-search-cancel-button, .add-card__search::-webkit-search-results-button, .add-card__search::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  .add-card__search::placeholder {
    color: #9e9da8;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
  }
  .add-card__search-submit {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  .add-card__arrow {
    display: none;
  }
  .add-card__heading {
    color: #b9babe;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
  }
  .add-card__wrap {
    margin-top: 20px;
  }
  .add-card-list {
    margin-top: 16px;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
  .add-card__label {
    color: #b9babe;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
  }
  .add-card__text::placeholder {
    font-size: 1.5rem;
  }
  .add-card__check:checked ~ .add-card__desc::before {
    background-color: #67b044;
    border-color: #67b044;
  }
  .add-card__prefecence {
    color: #b9babe;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
  }
  .add-card__desc {
    position: relative;
    margin-left: 30px;
    color: #b9babe;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
  }
  .add-card__desc::before {
    top: 2px;
    border: 1px solid #b9babe;
  }
  .add-card__desc::after {
    top: 6px;
  }
  .add-card__cancel {
    color: #b9babe;
  }
}

/*# sourceMappingURL=add-card.css.map */
