@use "../base";
@use "../abstracts";
@use "../layout/header";
@use "../components/hero";
@use "../components/total";
@use "../components/filter";

main {
    background-color: #fafafd;
}

.block-wrap {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4.24fr;
    column-gap: 30px;
}

.categories {
    &__heading {
        margin-bottom: 20px;

        color: abstracts.$textColor;

        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
    }

    &-item {
        width: 250px;
        height: 60px;
        margin-bottom: 16px;
        padding: 0 0 0 20px;

        border-radius: 10px;
        background: #eee;

        display: flex;
        align-items: center;
        justify-content: space-between;

        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

        transition: background 0.2s;
        &:hover {
            background: #77dae6;
            box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        }

        &:hover .categories__name {
            color: #fff;
        }
    }

    &__name {
        color: abstracts.$textColor;

        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .block-wrap {
        padding-top: 20px;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .categories {
        overflow: auto;
        &__heading {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
        }

        &__img {
            width: 44px;
            height: 38px;
        }

        &-list {
            display: flex;
            column-gap: 20px;
            overflow: auto;
            padding-bottom: 20px;
        }

        &-item {
            min-width: 146px;
            height: 38px;
            margin-bottom: 0px;
            padding: 0 0 0 10px;
        }

        &__name {
            color: abstracts.$textColor;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42;
        }
    }
}

.hero {
    padding-top: 0px;
}
