@use "../base";
@use "../abstracts";
@use "../components/department";
@use "../components/grocery";
@use "../components/beauty";

.header {
    background-color: #eee;
    padding: 30px 0;

    &-inner {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 144px;
    }

    &__navbar {
        &-list {
            display: flex;
            column-gap: 40px;
            display: flex;
            align-items: center;

            &-item:nth-child(1) .header__navbar-item::before {
                position: absolute;
                bottom: -60px;
                left: 0;

                content: "";
                width: 120px;
                height: 60px;
                background-color: transparent;
                display: inline-block;
            }

            &-item:nth-child(2) .header__navbar-item::before {
                position: absolute;
                bottom: -60px;
                left: 0;

                content: "";
                width: 90px;
                height: 60px;
                background-color: transparent;
                display: inline-block;
            }

            &-item:nth-child(3) .header__navbar-item::before {
                position: absolute;
                bottom: -60px;
                left: 0;

                content: "";
                width: 90px;
                height: 60px;
                background-color: transparent;
                display: inline-block;
            }
        }

        &-item {
            position: relative;
            padding: 8px;

            color: abstracts.$textColor;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                margin-top: 4px;
                margin-left: 6px;
                content: url(../../assets/images/arrow-header.svg);
                display: inline-block;
            }
        }
    }

    &-right {
        display: flex;

        align-items: center;

        column-gap: 20px;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    &__store {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 20px;

        width: 226px;
        height: 50px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    &__avatar {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 8px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    &__saperate {
        width: 1px;
        height: 30px;
        background: #ededf6;
    }

    &__heart {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    &__heart::after {
        content: "03";
        color: abstracts.$textColor;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__bag {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 12px 0px;
        cursor: pointer;
    }

    &__bag::after {
        content: "$65.42";
        color: abstracts.$textColor;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }
}

/*  pc */
@media screen and (min-width: 992px) {
    .header__mobile-label {
        display: none;
    }

    .mobile-header {
        display: none;
    }

    .menu-drawer {
        display: none;
    }

    .header__mobile-logo {
        display: none;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/*  Mobile */
@media screen and (max-width: 767.98px) {
    .header {
        background-color: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        padding: 16px 0;
        margin-bottom: 0px;

        &__search {
            display: none;
        }

        &__store {
            display: none;
        }

        &__logo {
            display: none;
        }

        &__navbar {
            display: none;
        }

        &__mobile-list {
            margin-top: 20px;
        }

        &__mobile-item {
            display: flex;
            justify-content: space-between;

            margin-top: 20px;
            padding: 8px;
            color: abstracts.$textColor;
            font-size: 1.5rem;
            font-weight: 500;

            &::after {
                position: relative;
                content: url(../../assets/images/arrow-right.svg);
            }

            &--actived::after {
                content: url(../../assets/images/arrow-header.svg);
            }

            &:last-child {
                padding-bottom: 40px;
            }
        }

        &__mobile-store {
            margin-top: 20px;
        }

        &__mobile-item-wrap {
            margin-top: 12px;
            padding: 10px 0;
            display: flex;
            align-items: center;
        }

        &__heart-desc {
            margin-left: 16px;
            color: abstracts.$textColor;
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__heart-amount {
            margin-left: auto;
            color: abstracts.$textColor;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .menu {
        &-drawer {
            padding: 25px 20px 0 20px;
            position: fixed;
            left: 0;
            top: 0;
            right: 15%;
            bottom: 0;
            transform: translateX(-100%);
            z-index: 4;
            background-color: #fff;
            transition: 0.5s ease;
            overflow: auto;
        }

        &-label {
            position: fixed;
            z-index: 3;
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.2);
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;
        }

        &-checkbox:checked ~ .menu-label {
            visibility: visible;
            opacity: 1;
            transition: 0.2s;
        }

        &-checkbox:checked ~ .menu-drawer {
            transform: translateX(0%);
        }
    }
}
