@use "../base";
@use "../abstracts";

.profile {
    padding: 30px 0 70px;
    background-color: #f6f6f6;

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 2.6fr;

        column-gap: 30px;
    }

    &-left {
        &__bgr {
            padding-bottom: 30px;
            border-radius: 20px;
            background: #fff;
            box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        }

        &__info {
            background-image: url(../../assets/images/profile-bgr.png);

            background-size: cover;

            text-align: center;

            width: 100%;
            height: 246px;

            border-radius: 20px 20px 0px 0px;
            // background: linear-gradient(
            //     180deg,
            //     rgba(26, 22, 46, 0) 0%,
            //     #1a162e 100%
            // );
            box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        }

        &__img {
            margin-top: 40px;
            width: 116px;
            height: 116px;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.2);

            box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        }

        &__name {
            margin-top: 20px;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.44;
        }

        &__register {
            color: #fafafd;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
        }

        &__account {
            margin-top: 30px;
            padding-left: 30px;

            &:nth-child(2) .profile-left__account-desc:nth-child(2) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(2) .profile-left__account-desc:nth-child(2)::before {
                content: url(../../assets/images/Profile1.svg);
            }

            &:nth-child(2) .profile-left__account-desc:nth-child(3) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(2) .profile-left__account-desc:nth-child(3)::before {
                content: url(../../assets/images/profile2.svg);
            }

            &:nth-child(2) .profile-left__account-desc:nth-child(4) {
                margin-left: -2px;
                display: flex;
                align-items: center;
                column-gap: 8px;
            }

            &:nth-child(2) .profile-left__account-desc:nth-child(4)::before {
                content: url(../../assets/images/profile3.svg);
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(2) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(2)::before {
                content: url(../../assets/images/profile4.svg);
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(3) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(3)::before {
                content: url(../../assets/images/profile5.svg);
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(4) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(3) .profile-left__account-desc:nth-child(4)::before {
                content: url(../../assets/images/profile6.svg);
            }

            &:nth-child(4) .profile-left__account-desc:nth-child(2) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(4) .profile-left__account-desc:nth-child(2)::before {
                content: url(../../assets/images/profile7.svg);
            }

            &:nth-child(5) .profile-left__account-desc:nth-child(2) {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &:nth-child(5) .profile-left__account-desc:nth-child(2)::before {
                content: url(../../assets/images/profile8.svg);

                margin-top: -10px;
                display: inline-block;
                margin-top: 6px;
            }

            &:nth-child(5) .profile-left__account-desc:nth-child(3) {
                display: flex;
                align-items: center;
                column-gap: 8px;
            }

            &:nth-child(5) .profile-left__account-desc:nth-child(3)::before {
                content: url(../../assets/images/profile9.svg);

                margin-left: -2px;
                display: inline-block;
                margin-top: 6px;
            }

            &-heading {
                color: abstracts.$textColor;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.44;
            }

            &-desc {
                margin-top: 12px;
                display: block;

                color: abstracts.$textColor;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.46;
            }
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .profile {
        padding: 0;
        background-color: #fafafd;

        &-wrap {
            display: flex;
            flex-direction: column;

            row-gap: 36px;
        }
    }
}
