@use "../base";
@use "../abstracts";

.header__navbar-list-item:hover .header-beauty {
    visibility: visible;
    opacity: 1;
}

.header {
    &-beauty {
        position: absolute;
        top: 104px;
        left: 0;
        z-index: 2;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        padding: 30px;

        width: 1240px;

        border-radius: 20px;

        background: #fff;
        box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

        &__heading {
            color: abstracts.$textColor;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 18px;
        }

        &__item {
            padding: 7px;
            display: inline-block;

            color: abstracts.$textColor;

            font-size: 1.4rem;
            line-height: 1.42;

            &:hover {
                color: #0071dc;
                text-shadow: 0.5px 0 0 #0071dc, -0.5px 0 0 #0071dc;
            }
        }

        &__triangle {
            position: absolute;
            top: -8px;
            left: 53%;

            background: #fff;
            box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

            width: 15px;
            height: 15px;
            rotate: 45deg;
        }

        &__list {
            position: relative;
            margin-left: 50px;

            &:nth-child(1) .header-beauty__heading {
                position: relative;
                margin-top: 0;
            }

            &:nth-child(1) .header-beauty__heading:nth-child(1)::before {
                content: url(../../assets/images/Buy.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(1) .header-beauty__heading:nth-child(1)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: "";
                width: 30px;
                height: 30px;
                border-radius: 4px;
                display: inline-block;

                background-color: rgb(118 68 225 / 70%);
            }

            &:nth-child(1) .header-beauty__heading:nth-child(9) {
                position: relative;
                margin-top: 26px;
            }

            &:nth-child(1) .header-beauty__heading:nth-child(9)::before {
                content: url(../../assets/images/beauty2.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(1) .header-beauty__heading:nth-child(9)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: url(../../assets/images/beauty2.1.svg);
            }

            &:nth-child(2) .header-beauty__heading:nth-child(1) {
                position: relative;
                margin-top: 00px;
            }

            &:nth-child(2) .header-beauty__heading:nth-child(1)::before {
                content: url(../../assets/images/beauty3.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(2) .header-beauty__heading:nth-child(1)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: url(../../assets/images/beauty3.1.svg);
            }

            &:nth-child(2) .header-beauty__heading:nth-child(10) {
                position: relative;
                margin-top: 26px;
            }

            &:nth-child(2) .header-beauty__heading:nth-child(10)::before {
                content: url(../../assets/images/beauty4.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(2) .header-beauty__heading:nth-child(10)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: url(../../assets/images/beauty4.1.svg);
            }

            &:nth-child(3) .header-beauty__heading:nth-child(1) {
                position: relative;
                margin-top: 0px;
            }

            &:nth-child(3) .header-beauty__heading:nth-child(1)::before {
                content: url(../../assets/images/beauty5.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(3) .header-beauty__heading:nth-child(1)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: url(../../assets/images/beauty5.1.svg);
            }

            &:nth-child(4) .header-beauty__heading:nth-child(1) {
                position: relative;
                margin-top: 0px;
            }

            &:nth-child(4) .header-beauty__heading:nth-child(1)::before {
                content: url(../../assets/images/beauty6.svg);

                position: absolute;
                left: -38px;
                bottom: -16px;
                z-index: 1;
            }

            &:nth-child(4) .header-beauty__heading:nth-child(1)::after {
                position: absolute;
                left: -50px;
                top: 0;

                content: url(../../assets/images/beauty6.1.svg);
            }
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
    .header-beauty {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .header {
        &-beauty {
            position: relative;
            top: 0px;
            left: 0;

            grid-template-columns: 1fr;
            padding: 0px;

            width: 100%;

            border-radius: 20px;

            background: transparent;
            box-shadow: 0 0 0 0;

            display: none;

            &__list {
                position: relative;
                margin-left: 50px;

                &:nth-child(2) .header-beauty__heading:nth-child(1) {
                    margin-top: 30px;
                }

                &:nth-child(3) .header-beauty__heading:nth-child(1) {
                    margin-top: 30px;
                }

                &:nth-child(4) .header-beauty__heading:nth-child(1) {
                    margin-top: 30px;
                }
            }
        }
    }

    .header__navbar-list-item:hover .header-beauty {
        display: block;
    }

    .header-beauty__list:nth-child(1) .header-beauty__heading {
        margin-top: 26px;
    }
}
