@use "../base";
@use "../abstracts";

.hero {
    background-color: #f6f6f6;
    padding-top: 40px;
}

.hero__mobile-img {
    display: none;
}

.hero__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-wrap {
    width: 100%;
    height: 100%;
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .hero {
        background-color: #f6f6f6;
        padding-top: 30px;
    }

    .hero__img {
        display: none;
    }

    .hero__mobile-img {
        width: 100%;
        display: flex;
    }
}
