@use "../base";
@use "../abstracts";

.header__bag {
    position: relative;
}

.item {
    position: absolute;
    z-index: 1;

    padding: 30px;

    border-radius: 20px;

    top: 68px;
    right: -90px;

    &__heading {
        cursor: default;
        color: abstracts.$textColor;
        display: flex;
        justify-content: space-between;

        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;

        &::after {
            content: "See All";

            color: #0071dc;

            font-weight: 400;
        }
    }

    &-group {
        margin-top: 30px;

        column-gap: 30px;
        display: flex;

        padding-bottom: 30px;
        border-bottom: 1px solid #d2d1d6;

        &-desc {
            margin-top: 14px;
            color: abstracts.$textColor;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.42;
        }

        &-price {
            color: abstracts.$textColor;

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.46;
        }
    }

    &-subtotal {
        margin-top: 30px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        padding-bottom: 30px;
        border-bottom: 1px solid #d2d1d6;
    }

    &__sub {
        color: abstracts.$textColor;

        cursor: default;

        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.45;
        display: flex;
        justify-content: space-between;

        &:nth-child(1)::after {
            content: "$415.99";
        }
        &:nth-child(2)::after {
            content: "Free";
        }
        &:nth-child(3)::after {
            content: "$10.00";
        }

        &-heading {
            color: abstracts.$textColor;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            display: flex;
            line-height: 1.45;
            cursor: default;
            justify-content: space-between;

            &::after {
                content: "$425.99";
            }
        }
    }

    &__submit {
        cursor: pointer;

        margin-left: auto;
        margin-top: 30px;
        border-radius: 50px;
        width: 278px;
        padding: 18px 40px;
        background: #ffb700;
        display: flex;
        align-items: center;
        justify-content: center;

        color: abstracts.$textColor;

        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;
    }
}

.total-filter__triangle {
    position: absolute;
    top: -7px;
    left: 80%;

    z-index: 2;

    background: #fff;
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    filter: drop-shadow(0px 40px 90px rgba(200, 200, 200, 0.4));
    width: 15px;
    height: 15px;
    border-radius: 4px;
    rotate: 45deg;
}

/*  pc */
@media screen and (min-width: 992px) {
    .item-checkbox:checked ~ .item {
        visibility: visible;
        opacity: 1;
    }

    .item {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;

        background: #fff;
        box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    }

    .item-display:hover .item {
        display: block;
    }

    .categories-list {
        height: 70vh;
        overflow-y: auto;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .item {
        transition: 0.2s;

        display: none;

        position: relative;
        z-index: 3;

        padding: 20px;

        top: 6px;
        right: -2px;

        &__heading {
            font-size: 1.8rem;
        }

        &-group {
            margin-top: 20px;

            row-gap: 20px;
            flex-direction: column;
            align-items: center;

            padding-bottom: 20px;
        }

        &-subtotal {
            margin-top: 20px;

            display: flex;
            flex-direction: column;
            row-gap: 20px;

            padding-bottom: 20px;
            border-bottom: 1px solid #d2d1d6;
        }

        &__sub {
            font-size: 1.8rem;

            &-heading {
                font-size: 1.8rem;
            }
        }

        &__submit {
            margin-left: auto;
            margin-right: auto;

            width: 258px;

            font-size: 1.8rem;
        }
    }

    .total-filter__triangle {
        display: none;
    }
}
