@use "../base";
@use "../abstracts";
// total

.total {
    padding: 40px 0;
    background-color: #f6f6f6;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        color: abstracts.$textColor;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
    }

    &-filter {
        padding: 6px 12px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 110px;
        height: 36px;

        border-radius: 6px;
        background: #fff;

        &__desc {
            color: #6c6c72;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.42;
        }
    }

    &-list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }

    &-item {
        padding: 16px;

        flex-grow: 1;

        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-10px);
        }

        &__img-block {
            position: relative;
            display: flex;
            justify-content: center;

            &::after {
                position: absolute;
                right: 0;
                bottom: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                content: url(../../assets/images/heart1.svg);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                color: #fff;
                box-shadow: (0px 20px 60px rgba(124, 124, 124, 0.2));
            }
        }

        &__img-block.total-item__img-block--actived {
            &::after {
                content: url(../../assets/images/red-heart.svg);
            }
        }
    }

    &-content {
        margin-top: 16px;

        &__heading {
            color: abstracts.$textColor;

            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
        }

        &__other {
            margin: 16px 0;
            color: #9e9da8;

            font-size: 1.5rem;
            line-height: 1.46;
        }

        &__rate {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__price,
        .total-content__number {
            color: abstracts.$textColor;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
        }

        &__detail {
            display: flex;
            column-gap: 6px;
            justify-content: space-between;
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .total {
        padding: 30px 0;

        &__heading {
            font-size: 2.2rem;
            line-height: 1.45;
        }

        &-filter {
            width: 104px;

            &__desc {
                color: #6c6c72;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
            }
        }

        &-list {
            row-gap: 30px;

            flex-direction: column;
        }

        &-item__img-block {
            width: 100%;
        }
    }
}
